-r requirements.txt

# Python PEP8 linter
flake8==3.9.2

# Coding style formatter
black==21.5b2
isort==5.8.0

# Git pre commit
pre-commit==2.12.1

# Test code
pytest==6.2.4
pytest-cov==2.12.0
pytest-asyncio==0.15.1
