-r requirements.txt

# Python PEP8 linter
flake8==3.8.4

# Coding style formatter
black==20.8b1
isort==5.7.0

# Git pre commit
pre-commit==2.9.3

# Test code
pytest==6.2.1
pytest-cov==2.11.1
pytest-asyncio==0.14.0
