aiohttp==3.6.2
av==8.0.2
colorlog==4.2.1
youtube_dl==2020.9.20
youtube-related==0.0.4
markdownify==0.5.3
psutil==5.7.2
PyNaCl==1.4.0
fastapi==0.61.1
websockets==8.1
hypercorn==0.10.2
bs4==0.0.1
lxml==4.5.2
asyncspotify==0.12.1