aiohttp==3.7.2
av==8.0.2
colorlog==4.4.0
git+https://git.sannoob.cf/OpenSourceMirrors/youtube-dl.git
youtube-related==0.0.4
markdownify==0.5.3
psutil==5.7.3
PyNaCl==1.4.0
websockets==8.1
bs4==0.0.1
lxml==4.6.1
asyncspotify==0.12.1
sanic==20.9.1
