-r requirements.txt

# Python PEP8 linter
flake8==3.9.2

# Coding style formatter
black==21.7b0
isort==5.8.0

# Git pre commit
pre-commit==2.13.0

# Test code
pytest==6.2.4
pytest-cov==2.12.1
pytest-asyncio==0.15.1
