# For networking
aiohttp[speedups]>=3.6.0,<3.8.0
websockets==8.1

# For performance
uvloop>=0.5.3; sys_platform != "win32" and implementation_name == "cpython"

# Extra extractor resolver
asyncspotify==0.12.1

# Source extractor
av==8.0.3
PyNaCl==1.4.0
youtube-dl>=2021.4.7
youtube-related==1.0.2

# Subtitle parser
bs4==0.0.1
lxml==4.6.3
defusedxml==0.7.1
markdownify==0.8.0

# Logging
rich==10.6.0

# Node webserver
sanic==21.3.4
psutil==5.8.0
